<!DOCTYPE html>
<html>
<head lang="pt">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-language" content="pt" />
    <title>Test</title>
    <script src="javascripts/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/jquery_cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/vsorganicos-angular.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <input type="button" value="Teste" onclick="$.gravarAcesso('khqkhsqbdkjsqdk1024', 'teste', 'ok')" />

    <input type="button" value="Cookie" onclick="javascript:alert($.createCookie('khqkhsqbdkjsqdk1024'));" />
</body>
</html>